DATABASE_URL=postgresql+asyncpg://postgres:ТВОЙ_ПАРОЛЬ@db.ТВОЙ_ПРОЕКТ.supabase.co:5432/postgres
OPENAI_API_KEY=sk-...
ALEM_LLM_API_KEY=your_key_here
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_SECRET_KEY=sk-lf-...
LANGFUSE_HOST=https://cloud.langfuse.com
